.available, .moreoptiondiv{
    width: 1110px;
    margin: auto;
}
.available h4, .moreoptiondiv h4{
    text-align: left;
    color:#FF645A;
}
.availablediv, .moreoptiondiv{
    text-align: left;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.splitter{
    margin: 40px auto;    
    width: 99%;
    border: 1px solid rgb(222, 222, 222);
}
.h4bottom{
    margin-top: -15px;
    margin-bottom: 20px;
    width: 35px;
    border: 1px solid #FF645A;
    background-color: #FF645A;
}
.social{
    margin: auto;
    width: 150px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.social img{
    width: 30px;
}